<!DOCTYPE html>
{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/Layout.css', package: 'Hfrahmann.Website')}" media="all" />
</head>
<body>

    <div class="hf-content" style="margin-top:80px;">
        <section class="section-dark-gray hfrahmann-website-section">
            <div class="hf-container" style="text-align: center;">
                <h3>404</h3>
                <h2>Seite nicht gefunden</h2>
                <p>
                    <a href="/">zur Startseite</a>
                </p>
            </div>
        </section>

    </div>

</body>
</html>
